.approvalManagerfile input[type="file"] {
  display: none !important;
}
.approvalManagerfile label {
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 2% 10%;
  text-align: center;
  vertical-align: center;
  border: 1px solid #B1000E;
  font-size: 14px;
  color: #B1000E;
}
.approvebtn {
  text-transform: unset !important;
  font-size: 15px;
  background-color: #4f4f4f !important;
}
.headlines {
  color: #B1000E;
}
.approvalsform label {
  color: black;
}
.approvalsform input {
  pointer-events: none;
}
.cont2 {
  pointer-events: auto !important;
  color: black;
}
.inline-flex {
  display: inline-flex !important;
  margin: .5em !important;
  color:red;
}
.rejectstyle {
  display:flex;
}
.swal-wide {
  width:auto !important;
  height:auto !important;
}
