.inputbox{
  width: 100% !important;
  text-indent: 15px;
}
.bank_fileupload {
  min-width: auto !important;
  max-width: auto !important;
  border: dashed 2px #B1000E !important;
}
.uploadFile {
  background-color: #B1000E !important;
  color: white !important;
}
.bank_title {
  color:black;
  margin-left:0px !important;
  font-size: 20px;
  font-weight: 700;
}
.bank_subtitle{
  margin-left:0px !important;
  font-size: 12px;
}
.bankbtn {
  text-transform: unset !important;
  font-size: 15px;
}
