.ComplianceNote
{
    color: #b1000e;
}
.ViewBtn
{
    background-color: #b1000f1e !important;
    color: #000000 !important;
    background-image: url('../img/Vector.png');
    background-repeat: no-repeat;
    background-position: 7px center; 
    background-size: 8%; 
}
.Compliance_fileupload
{
    border: dashed 2px #eb9198 !important;  
}
.UploadBtn
{
    background-color: #b1000e !important;
}
.Compliance_title
{
    color:black;
    margin-left:0px !important;
    font-size: 20px;
    font-weight: 700;
}
.ValidityofDeclaration
{
    margin-bottom: 0%!important;
}
.compliancebtn
{
  text-transform: unset !important;
  font-size: 15px;
  background-color: #4f4f4f !important;
  color: rgb(255, 255, 255)!important;
}