.ComplianceNote
{
    color: #b1000e;
}
.ViewBtn
{
    background-color: #b1000f1e !important;
    color: #000000 !important;
}
.Compliance_fileupload
{
    border: dashed 2px #eb9198 !important;  
}
.UploadBtn
{
    background-color: #b1000e !important;
}
