.ComplianceNote
{
    color: #b1000e;
}
.ViewBtn
{
    background-color: #b1000f1e !important;
    color: #000000 !important;
}
.Compliance_fileupload
{
    border: dashed 2px #eb9198 !important;  
}
.UploadBtn
{
    background-color: #b1000e !important;
}
.Compliance_title
{
    color:black;
    margin-left:0px !important;
    font-size: 20px;
    font-weight: 700;
}