*{box-sizing: border-box; padding: 0; margin: 0}
.template {
  position: absolute;
 width: 100%;
 height: 100%;
 background-image: url("../img/newuser.png");
background-repeat: no-repeat;
background-size: cover;
}

.text-Qa h3
{
position: relative;
top:250px;
margin-left: 430px;
}
.redirect-button
{
  position: relative;
  top:260px;
  margin-left: 2%;
}
.redirectButton
{
  width: 300px;
  height: 65px;
  color: black;
  border-radius: 6px;
  margin-left: 450px;
  border: 1px solid rgb(158, 158, 158);
}
.redirectButton.Yes
{
margin-bottom: 2%;
}
.redirectButton:hover
{
  width: 300px;
  height: 65px;
  color: white;
  background-color: black;
  border-radius: 6px;
  margin-left: 450px;
  border: 1px solid rgb(158, 158, 158);
}


.hitachi-logo-icon {
  position: absolute;
  margin-left: 35%;
  margin-top: 10%;

}
